.iconWorkspace-buttom{
    text-decoration: none;
    border: none;
    background: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 5.6vw;
    padding: 1px;
    
}

.iconWorkspace-buttom:hover{
    background-color: rgba(0, 0, 0, 0.623);
    -webkit-backdrop-filter: blur(17.5px);
    background: #ffffff1a;
    box-shadow: 0 8px 32px 0 #1f26875e;
    cursor: pointer;
}

.iconWorkspace-buttom img{
    margin-bottom: -10px;
    width: 80%;
    background-color: transparent;
}
.iconWorkspace-buttom p{
    font-size: 0.8vw;
}
