* {
    overflow: hidden;
}

.subSectionLogin {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.623);
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(17.5px);
    background: #ffffff1a;
    box-shadow: 0 8px 32px 0 #1f26875e;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    
}

.displayNone {
    display: none;
}

.loginImg {
    width: 15vw;
}



.loginButton {
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(17.5px);
    background: #ffffff1a;
    box-shadow: 0 8px 32px 0 #1f26875e;
    font-size: 2vw;
    border-radius: 20px;
    border: solid 1px white;
    width: 8vw;
    cursor: pointer;

}

.loginButton:hover {
    box-shadow: 0 6px 15px 0 #010541c4;
}



.subSectionLogin.fadeOut {
    opacity: 0;
}

.auxIconsDiv {
    position: absolute;
    right: 3vw;
    bottom: 5vh;
    height: 4vh;
    
}

.auxIconsDiv img {
    height: 100%;
    margin-right: 1vw;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
}
.auxIconsDiv button {
    border: none;
    height: 100%;
    background: transparent;
}

.auxIconsDiv img:hover{
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(17.5px);
    background: #ffffff1a;
    box-shadow: 0 8px 32px 0 #1f26875e;
    cursor: pointer;
}

/*-------------------------------------------------*/

.taskBar {
    background-color: rgb(12, 14, 36);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100vw;
    height: 3vw;
    box-shadow: 0 -6px 10px 0 #0c0e2e5e;
    border-top: solid 1px rgba(255, 255, 255, 0.322);
    z-index: -1;
    display: flex;
    justify-content: center;
}

.taskBarIcons {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 6vh;
    height: 100%;
    width: 100vw;
}

.taskBarIconsImg {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 85%;
    margin-right: 1vw;
    cursor: pointer;
    padding: 0.2vw;
    border-radius: 8px;
}

.taskBarIconsImg:hover {
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(17.5px);
    background: #ffffff1a;
    box-shadow: 0 8px 32px 0 #1f26875e;
    cursor: pointer;
}

.taskBarRightIcons {
    width: 28%;
    justify-content: flex-end;
    align-items: center;
    right: 0px;
    display: flex;

}

.taskBarRightIcons img:hover{
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(17.5px);
    background: #ffffff1a;
    box-shadow: 0 8px 32px 0 #1f26875e;
    cursor: pointer;
}

.taskBarRightIcons img {
    height: 2.8vw;
    width: 1.6vw ;
    padding: 0.7vw 0.1vw 0.7vw 0.1vw;
    margin-right: 0.2vw;
}

.taskBarRightIcons div {
    text-align: center;
    width: 5.4vw;
    line-height: 105%;
    color: white;
    font-size: 1vw;
}

.workspace {
    width: 100vw;
    height: 88vh;
    display: flex;
    position: relative;
    top: 0px;
    align-items: center;
    justify-content: center;
    z-index: 3
}

.workspaceDiv{
    position:absolute;
    left: 1vw;
    top:2vh;
    z-index: 4
}

.iFrameDiv {
    height: 86vh;
    width: 85vw;
    display: none;
    box-shadow: 5px 5px 20px #000000b0;

}

.iFrameDiv.active {
    display: block;
}

.topFrame {
    height: 4%;
    background-color: rgb(191, 204, 218);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topFrame button{
    text-decoration: none;
    background-color: transparent;
    border: none;
    height: 100%;
}

.topFrame button img {
    height: 100%;
    padding: 0.2% 0.8% 0.2% 0.8%;
}


.topFrame-close:hover{
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(17.5px);
    background: #ff000086;
    box-shadow: 0 8px 32px 0 #1f26875e;
    cursor: pointer;
}

.topFrame-minimize-maximize:hover{
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(17.5px);
    background: #ffffff1a;
    box-shadow: 0 8px 32px 0 #1f26875e;
    cursor: pointer;
}

.iFrameDiv iframe {
    width: 100%;
    height: 100%;
}